@font-face {
    font-family: "MontserratSemiBold";
    src: url("../fonts/Montserrat-SemiBold.ttf") format("truetype");
}
@font-face {
    font-family: "MontserratBold";
    src: url("../fonts/Montserrat-Bold.ttf") format("truetype");
}
@font-face {
    font-family: "MontserratRegular";
    src: url("../fonts/Montserrat-Regular.ttf") format("truetype");
}
@font-face {
    font-family: "MontserratLight";
    src: url("../fonts/Montserrat-Light.ttf") format("truetype");
}
@font-face {
    font-family: "MontserratMedium";
    src: url("../fonts/Montserrat-Medium.ttf") format("truetype");
}

:root {
    --color1: #f1f0f3; /*--color1: #e4e0da;*/
    --color2: #090909; /*--color2: #111111;*/
    --color3: #7727ff;
}

body {
    margin: 0;
    background-color: #090909;
    color: #f1f0f3;
}

body::-webkit-scrollbar {
    width: 7px;
  }
  
body::-webkit-scrollbar-thumb {
    background-color: var(--color3);
}

a {
    text-decoration: none;
    color: #f1f0f3;
}

.button {
    display: flex;
    background-color: #7727ff;
    width: 50px;
    height: 50px;
    position: fixed;
    bottom: 30px;
    right: 30px;
    transition: background-color .3s, opacity .5s, visibility .5s;
    opacity: 0;
    visibility: hidden;
    z-index: 1000;
}

.button:hover {
    cursor: pointer;
    background-color: #333;
}

.button:active {
    background-color: #777777;
}

.button.show {
    opacity: 1;
    visibility: visible;
}

.to-top-b-img {
    display: flex;
    width: 30px;
    height: 30px;
    margin: auto;
    object-fit: contain;
}


.mp {
    display: flex;
    margin-bottom: 300px;
    height: calc(100vh - 40px * 2);
    flex-flow: column;
    padding: 40px;
}

.mp-header {
    display: flex;
    width: 100%;
}

.mp-header-i {
    display: flex;
    margin: 0 0 0 auto;
}

.mp-header-i-e {
    font-family: "MontserratRegular", sans-serif;
    font-size: 26px;

    display: flex;
    margin: auto 0 auto 40px;
}

.mp-header-i.show {
    display: flex;
}

.mp-text {
    margin: auto auto 0 0;
    display: flex;
    flex-flow: column;
}

.mp-text-name {
    font-family: "MontserratSemiBold", sans-serif;
    font-size: 90px;
    display: flex;
}

.mp-text-job {
    font-family: "MontserratRegular", sans-serif;
    font-size: 45px;
    display: flex;
}

.mp-i-i-languages {
    margin: auto 0 0 auto;
    display: flex;
}

.mp-i-i-languages-language {
    font-size: 25px;
    font-family: "MontserratRegular", sans-serif;

    margin: auto 0 auto 20px;
    display: flex;
}

.article {
    display: flex;
    height: 100px;
    width: 100%;
    margin: 0 auto 60px auto;

    font-family: "MontserratSemiBold", sans-serif;
    font-size: 50px;
}

.article-i {
    display: flex;
    margin: auto;
}

.sk-i {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
    height: 100%;
    width: 100%;
}

.sk-text {
    font-family: "MontserratRegular", sans-serif;
    line-height: 150%;
    font-size: 25px;

    display: flex;
    margin: 40px;
}

.text {
    display: flex;
    font-family: "MontserratRegular", sans-serif;
    margin: 0;
    line-height: 150%;
    font-size: 25px;
}

.section {
    display: flex;
    margin: 0 auto 300px auto;
    width: 50%;
    flex-flow: column;
}

.section-m {
    display: flex;
    margin: 0 auto 300px auto;
    width: 60%;
    flex-flow: column;
}

.section-last {
    display: flex;
    margin: 0 auto 60px auto;
    width: 50%;
    flex-flow: column;
}

.ed-i-header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 12px;
}

.uni {
    font-family: "MontserratMedium", sans-serif;
    font-size: 30px;
}

.date {
    font-family: "MontserratMedium", sans-serif;
    color: #777777;
    font-size: 30px;
}

.ed-i-degree {
    display: flex;
    font-family: "MontserratMedium", sans-serif;
    margin: auto auto 35px 0;
    font-size: 25px;
}

.c-links {
    display: flex;
    flex-flow: row;
    margin-bottom: 20px;
    justify-content: center;
    flex-wrap: wrap;
}

.c-contacts {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.c-text {
    font-family: "MontserratRegular", sans-serif;
    color: #f1f0f3;
    font-size: 25px;

    margin: 0 25px;
    display: flex;
}

.c-text:hover, .mp-header-i-e:hover, .mp-i-languages-language:hover {
    color: #7727ff;
    transition: color .2s linear;
    cursor: pointer;
}

.board {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
}

.b {
    border: 1px solid #f1f0f3;

    display: flex;
    width: 370px;
    height: 370px;
    margin: 20px;
    padding: 20px;
    flex-flow: column;
}

.b:hover {
    border: 1px solid #7727ff;
    transition: border .2s linear;
    cursor: pointer;
}

.b-top {
    font-family: "MontserratMedium", sans-serif;
    font-size: 30px;

    display: flex;
    margin: 0 auto 20px auto;
}

.b-mid {
    font-family: "MontserratRegular", sans-serif;
    font-size: 25px;
    line-height: 150%;

    display: flex;
    margin: auto;
}

.b-bot {
    font-family: "MontserratRegular", sans-serif;
    font-size: 25px;
    color: #777777;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.b-tag {
    display: flex;
    margin: 10px 10px 0 10px;
}

.im {
    display: flex;
    margin: 20px auto;
    object-fit: contain;
    width: 100%;
}

.hamburger {
    display: none;
}

@media only screen and (max-width: 1000px) {
    .hamburger {
        display: flex;
        margin: auto 0 auto auto;
    }
    .mp-i-header-i {
        display: none;
        flex-flow: column;
    }
    .mp-i-header-i-e {
        margin: 20px 0 20px 20px;
    }
}

.e-to-show {
    opacity: 0;
    transition: transform 1.5s, opacity 1.5s;
    transform: translateY(20px);
}
.shown {
    opacity: 1;
    transform: translateY(0%);
}