@font-face {
    font-family: "Montserrat SemiBold";
    src: url("assets/fonts/Montserrat-SemiBold.ttf") format('ttf');
}
@font-face {
    font-family: "Montserrat Regular";
    src: url("assets/fonts/Montserrat-Regular.ttf") format('ttf');
}

:root {
    --bg-color: #111111;
    --text-color: #FFFFFF;
    --active-color: #762BFF;

    --header-hight: 15vh;
    --section-height: 100vh;
}

html {
    scroll-snap-type: y mandatory;
}

body {
    margin: 0;
    font-family: "Montserrat SemiBold";
    color: var(--text-color);
    background-color: var(--bg-color);
    overflow-y: overlay;
}

body::-webkit-scrollbar {
    width: 30px;
    position: fixed;
}
  
body::-webkit-scrollbar-thumb {
    border: 12px solid var(--bg-color);
    background-clip: padding-box;
    border-radius: 9999px;
    background-color: var(--active-color);
}

img {
    padding-top: 10px;
    width: 75%;
    height: 75%;
}

.container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-flow: column;
    max-width: 65vw;
    margin: 0 auto;
}

.header {
    display: flex;
    height: var(--header-hight);
    width: 100%;
    
    justify-content: space-between;
    font-size: 4vh;
}

.left__nav {
    height: 50%;
    margin: auto auto 0 0;
    align-items: center;
    display: flex;
}

.nav {
    height: 50%;
    margin: auto 0 0 auto;
    align-items: center;
    display: flex;
}

.nav__link {
    font-family: "Montserrat Regular";
    font-size: 20px;
    transition: color .2s linear;
    margin: 0px 15px;
    color: var(--text-color);
    text-decoration: none;
    cursor: pointer;
}

.nav__link.active {
    border-bottom: var(--active-color) solid 4px;
}

.nav__link:hover {
    color: var(--active-color);
} 

.section {
    scroll-snap-align: end;
    width: 100%;
    height: var(--section-height);
    display: flex;
    flex-flow: column;
}

.section__inner {
    margin: auto auto auto 0;
}

.section__main__title {
    font-size: 45px;
}

.section__title {
    font-size: 40px;
    font-family: "Montserrat SemiBold";
    margin-bottom: 20px;
    color: var(--active-color);
}

.section__text {
    font-size: 24px;
    line-height: 140%;
    font-family: "Montserrat Regular";
    margin-bottom: 20px;
}

.shelf {
    display: flex;
    flex:2;
    flex-wrap: wrap;
    justify-content: center;
    margin: 10vh auto 10vh;
}

.work {
    display: flex;
    margin: 20px;
    width: 250px; 
    height: 250px;
    border: var(--text-color) solid 5px;
    border-radius: 30px;
}

.work__text {
    font-size: 24px;
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    margin: auto 7px;
    font-size: 24px;
}

.story {
    margin: 100px 0;
    width: 100%;
}

.story__title {
    font-size: 40px;
    font-family: "Montserrat SemiBold";
    color: var(--active-color);
    margin-bottom: 25px;
}

.story__text {
    font-size: 24px;
    line-height: 140%;
    font-family: "Montserrat Regular";
    margin-bottom: 25px;
}

.story__date {
    font-size: 24px;
    line-height: 140%;
    font-family: "Montserrat Regular";
    color: #575757;
}